{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}
<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "400x" }}
                <img src="{{ $image.RelPermalink }}" alt="% s" class="img-responsive gallery-image" width="{{ $image.Width }}">

            {{end}}
            </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}